.u-section-1 {
  background-image: none;
  min-height: 689px;
}

.u-section-1 .u-group-1 {
  min-height: 629px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  animation-duration: 1000ms;
  margin: 27px 522px 0 auto;
}

.u-section-1 .u-rotation-parent-1 {
  width: 311px;
  height: 307px;
  margin: 234px auto 0 26px;
}

.u-section-1 .u-shape-1 {
  width: 307px;
  height: 311px;
  animation-duration: 1000ms;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: -345px 12px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 116px;
  height: 116px;
  animation-duration: 1000ms;
  margin: -495px 0 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: -110px auto 0 38px;
}

.u-section-1 .u-gallery-1 {
  width: 981px;
  height: 721px;
  grid-template-columns: auto auto auto;
  margin: -181px auto 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 11px 11px;
}

.u-section-1 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-video-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-video-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-video-4 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-video-5 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-video-6 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-video-7 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-video-8 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-video-9 {
  background-position: 50% 50%;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 684px;
  }

  .u-section-1 .u-group-1 {
    min-height: 634px;
    margin-top: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 389px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 291px;
    height: 248px;
    margin-top: 186px;
    margin-left: 62px;
  }

  .u-section-1 .u-shape-1 {
    width: 248px;
    height: 291px;
    margin: 80px auto 0 18px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -180px;
    margin-right: 27px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -552px;
    margin-right: 19px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -96px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 584px;
    height: 442px;
    margin-top: -160px;
    margin-left: 208px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-gap: 8px 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 817px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 296px;
  }

  .u-section-1 .u-shape-4 {
    width: 230px;
    height: 230px;
    margin-top: -76px;
  }

  .u-section-1 .u-gallery-1 {
    grid-template-columns: auto auto;
    margin-left: 114px;
    height: 1213px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 3566px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 221px;
  }

  .u-section-1 .u-gallery-1 {
    grid-template-columns: auto;
    width: 520px;
    height: 3441px;
    margin-right: 38px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1581px;
  }

  .u-section-1 .u-group-1 {
    min-height: 2212px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 7px 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 45px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 640px;
    margin-left: 19px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -638px;
    margin-right: 41px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -483px;
    margin-right: 10px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -81px;
    margin-left: 29px;
  }

  .u-section-1 .u-gallery-1 {
    width: 320px;
    height: 2118px;
    margin-top: -253px;
    margin-right: 0;
    margin-left: 45px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-text-1 {
  margin: 38px auto 0 377px;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  animation-duration: 1000ms;
}

.u-section-2 .u-gallery-1 {
  width: 729px;
  height: 367px;
  grid-gap: 10px 10px;
  margin: 60px 185px 60px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-video-1 {
  animation-duration: 1000ms;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 334px;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 29px;
    margin-right: auto;
    margin-left: 94px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-2 .embed-responsive-2 {
    width: 178%;
    left: -39%;
    height: 100%;
    top: 0%;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 238px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 179px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-gallery-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}